@import '../scss/connector';

.nav {
	display: flex;
	list-style: none;
	align-items: center;
}

.nav__item {
	margin-left: 4em;
	@include boldRoboto(1.8em);
	color: #edf6f9;
}

.nav__link {
	color: inherit;
	text-decoration: none;
}
